<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="sidebar">
    <!-- Brand Logo -->
    <a class="brand-link" th:href="@{/index3.html}">
        <img alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8"
             th:src="@{/img/AdminLTELogo.png}">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img alt="User Image" class="img-circle elevation-2" th:src="@{/img/user2-160x160.jpg}">
            </div>
            <div class="info">
                <a class="d-block" href="#">Hendi Santika</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview"
                role="menu">
                <a class="nav-link">Menu Utama</a>
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <a class="nav-link active" href="#">
                    <i class="nav-icon fas fa-home"></i>
                    <p>Dashboard</p>
                </a>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-newspaper"></i>
                        <p>
                            Berita
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/tulisan}">
                                <i class="fas fa-table nav-icon"></i>
                                <p>List Berita</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/tulisan/add}">
                                <i class="fas fa-thumbtack nav-icon"></i>
                                <p>Post Berita</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/kategori}">
                                <i class="fas fa-wrench nav-icon"></i>
                                <p>Kategori</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" th:href="@{/admin/pengguna}">
                        <i class="nav-icon fas fa-users"></i>
                        <p>Pengguna</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/pengguna}">
                        <i class="nav-icon fas fa-calendar"></i>
                        <p>Agenda</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" th:href="@{/admin/pengumuman}">
                        <i class="nav-icon fas fa-volume-up"></i>
                        <p>Pengumuman</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" th:href="@{/admin/download}">
                        <i class="nav-icon fas fa-download"></i>
                        <p>Download</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-camera"></i>
                        <p>
                            Gallery
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/album}">
                                <i class="far fa-clone nav-icon"></i>
                                <p>Album</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/galeri}">
                                <i class="fas fa-camera-retro nav-icon"></i>
                                <p>Photos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" th:href="@{/admin/guru}">
                        <i class="nav-icon fas fa-graduation-cap"></i>
                        <p>Data Guru</p>
                    </a>
                </li>
                <li class="nav-item has-treeview">
                    <a class="nav-link" href="#">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Kesiswaan
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/admin/siswa}">
                                <i class="fas fa-users nav-icon"></i>
                                <p>Data Siswa</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/admin/prestasi}">
                                <i class="far fa-star nav-icon"></i>
                                <p>Prestasi Siswa</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/inbox}">
                        <i class="nav-icon fas fa-inbox"></i>
                        <p>
                            Inbox
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/komentar}">
                        <i class="nav-icon fas fa-comment"></i>
                        <p>
                            Komentar
                            <span class="badge badge-info right">5</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>Sign Out</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark" th:fragment="control">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->