<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>
    <link rel="stylesheet"
          th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="col-sm-4 col-sm-offset-4" style="margin-top: 25px;">
        <div class="col-12 user-img">
            <img height="150" src="static/img/user.png" th:src="@{/img/user.png}" width="150"/>
            <img height="150" src="static/img/girl.png" th:src="@{/img/girl.png}" width="150"/>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">
                    <div>
                        <span>Sign In</span>
                    </div>
                </div>
            </div>

            <div class="panel-body" id="login-panel-body">
                <div class="alert alert-danger col-sm-12" th:if="${param.error}">
                    <span>Invalid Email or Password</span>
                </div>

                <div class="alert alert-success col-sm-12" th:if="${param.logout}">
                    <span>You've successfully logged out</span>
                </div>

                <form action="/login" method="POST">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input class="form-control" id="username" name="username" placeholder="username" type="text"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input class="form-control" id="password" name="password" placeholder="password"
                               type="password"/>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success form-control" type="submit">Login</button>
                    </div>
                </form>

            </div>
            <div class="panel-footer">
                <a th:href="@{/}">Home Page</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.min.js}"></script>
<script
        th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>