<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/dashboard/header :: header}"></head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

<head th:replace="~{fragments/dashboard/navbar :: navbar}"></head>
<head th:replace="~{fragments/dashboard/sidebar :: sidebar}"></head>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>List Files</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/admin/tulisan">Download</a></li>
                        <li class="breadcrumb-item active">List Download Files</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Tambah File Download</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form class="form-horizontal" enctype="multipart/form-data" method="post" role="form"
                              th:action="@{/admin/download}" th:object="${download}">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="Judul">Judul</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="Judul" placeholder="Filename"
                                               th:field="*{judul}" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="Deskripsi">Deskripsi</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="Deskripsi" placeholder="Deskripsi"
                                               th:field="*{deskripsi}" type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="Oleh">Oleh</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" id="Oleh" placeholder="Oleh" th:field="*{author}"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label" for="file">File</label>
                                    <div class="col-sm-10">
                                        <input id="file" name="file" required style="width: 100%;" type="file">
                                    </div>
                                    <label class="col-sm-3 col-form-label" for="file"></label>
                                    <div class="col-sm-9">
                                        <p>NB: file harus bertype pdf|doc|docx|ppt|pptx|zip. ukuran maksimal 2,7
                                            MB. </p>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-info btn-lg" type="reset">Cancel</button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>

<footer th:replace="~{fragments/dashboard/footer :: footer}"></footer>
<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- jsGrid -->
<script th:src="@{/plugins/jsgrid/demos/db.js}"></script>
<script th:src="@{/plugins/jsgrid/jsgrid.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/js/demo.js}"></script>
<!-- page script -->
<script>
    $(function () {
        $("#jsGrid1").jsGrid({
            height: "100%",
            width: "100%",

            sorting: true,
            paging: true,

            data: db.clients,

            fields: [
                {name: "Name", type: "text", width: 150},
                {name: "Age", type: "number", width: 50},
                {name: "Address", type: "text", width: 200},
                {name: "Country", type: "select", items: db.countries, valueField: "Id", textField: "Name"},
                {name: "Married", type: "checkbox", title: "Is Married"}
            ]
        });
    });
</script>
</body>
</html>