<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/dashboard/header :: header}"></head>
<!-- summernote -->
<link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.css}">
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css"/>
<!-- daterange picker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
      rel="stylesheet">
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

<head th:replace="~{fragments/dashboard/navbar :: navbar}"></head>
<head th:replace="~{fragments/dashboard/sidebar :: sidebar}"></head>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Galeri</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="/admin/guru">Galeri</a></li>
                        <li class="breadcrumb-item active">Tambah Galeri</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Tambah Galeri</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form enctype="multipart/form-data" method="post" th:action="@{/admin/galeri}"
                              th:object="${galeri}">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Judul Galeri</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="nama" placeholder="Judul Galeri"
                                               required th:field="*{judul}"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nama Album</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" id="id" th:field="*{album.id}">
                                            <option th:each="a : ${albumList}"
                                                    th:selected="${a.id}" th:text="${a.id}+' : '+${a.nama}"
                                                    th:value="${a.id}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Author</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="nama" placeholder="Author"
                                               required th:field="*{author}"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Cover Album Photo</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="file" placeholder="Photo"
                                               type="file">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success btn-lg" type="submit"><i
                                                class="fas fa-pencil"></i> Simpan
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-info btn-lg" type="reset"><i
                                                class="fas fa-pencil"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>
<!-- ./wrapper -->

<footer th:replace="~{fragments/dashboard/footer :: footer}"></footer>

<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/js/demo.js}"></script>
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js"></script>
<!-- bootstrap datepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
</body>
</html>
