<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/dashboard/header :: header}"></head>
<!-- summernote -->
<link rel="stylesheet" th:href="@{/plugins/summernote/summernote-bs4.css}">
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

<head th:replace="~{fragments/dashboard/navbar :: navbar}"></head>
<head th:replace="~{fragments/dashboard/sidebar :: sideba}r"></head>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Siswa</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                        <li class="breadcrumb-item"><a href="/admin/tulisan">Siswa</a></li>
                        <li class="breadcrumb-item active">Edit Siswa</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card-header">
                <h3 class="card-title">
                    Edit Data Siswa
                    <small>Simple and fast</small>
                </h3>
            </div>
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- Horizontal Form -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Edit Data Siswa</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form enctype="multipart/form-data" method="post" th:action="@{/admin/siswa/edit}"
                              th:object="${siswa}">
                            <div class="card-body">
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">NIS</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="nama"
                                               readonly th:field="*{nis}" type="text"/>
                                        <input class="form-control" name="nama"
                                               th:field="*{id}" type="hidden"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Nama Lengkap</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="nama" placeholder="Nama Lengkap"
                                               required th:field="*{nama}"
                                               type="text"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Jenis Kelamin</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" th:field="*{jenkel}" th:text="Laki-laki"
                                               type="radio" value="L"/>
                                    </div>
                                    <div class="col-sm-5">
                                        <input class="form-control" th:field="*{jenkel}" th:text="Perempuan"
                                               type="radio" value="P"/>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Kelas</label>
                                    <select class="form-control" id="id" th:field="*{kelas.id}">
                                        <option th:each="k : ${kelasList}"
                                                th:selected="${k.id}" th:text="${k.id}+' : '+${k.nama}"
                                                th:value="${k.id}"></option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-2 col-form-label">Photo</label>
                                    <div class="col-sm-10">
                                        <input class="form-control" name="file" placeholder="Photo"
                                               type="file">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <button class="btn btn-success btn-lg" type="submit"><i
                                                class="fas fa-pencil"></i> Simpan
                                        </button>
                                    </div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-info btn-lg" type="reset"><i
                                                class="fas fa-pencil"></i> Reset
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->

                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
</div>
<!-- ./wrapper -->

<footer th:replace="~{fragments/dashboard/footer :: footer}"></footer>

<!-- jQuery -->
<script th:src="@{/plugins/jquery/jquery.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/adminlte.min.js}"></script>
<!-- AdminLTE for demo purposes -->
<script th:src="@{/js/demo.js}"></script>
<!-- Summernote -->
<script th:src="@{/plugins/summernote/summernote-bs4.min.js}"></script>
<script>
    $(function () {
        // Summernote
        $('.textarea').summernote({
            height: 300,
            focus: true
        })
    })
</script>
</body>
</html>
