<!DOCTYPE html>
<html lang="en" layout:decorate="~{fragments/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"/>
<div th:replace="fragments/header :: header"/>
<body>
<div th:replace="fragments/header :: menu"/>

<div layout:fragment="content">
    <!--============================= EVENTS =============================-->
    <section class="events">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="event-title">Pengumuman</h2>
                </div>
                <div class="col-md-8">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item nav-tab1">
                            <a class="nav-link tab-list active" data-toggle="tab" href="#upcoming-events" role="tab">Pengumuman
                                Terbaru </a>
                        </li>

                    </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="upcoming-events" role="tabpanel">
                        <div class="col-md-12" th:each="p : ${pengumumanList}">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="event-date">
                                        <h4 th:text="${#temporals.format(p.tanggal, 'd')}">pengumuman_tanggal));?></h4>
                                        <span th:text="${#temporals.format(p.tanggal, 'MMM YYYY')}">pengumuman_tanggal</span>
                                    </div>
                                    <span class="event-time"
                                          th:text="${#temporals.format(p.tanggal, 'HH:mm')} + ' WIB'">
                                        pengumuman_tanggal.' WIB';?></span>
                                </div>
                                <div class="col-md-10">
                                    <div class="event-heading">
                                        <h3 th:text="${p.judul}">pengumuman_judul</h3>
                                        <p th:text="${p.deskripsi}">pengumuman_deskripsi</p>
                                    </div>
                                </div>
                            </div>
                            <hr class="event-underline">
                        </div>
                        <div class="col-md-12 text-center">
                            <?php echo $page;?>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--//END EVENTS -->
</div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer :: scripts"/>
</body>
</html>
